<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    {% if site.logo %}
    <a class="site-title" rel="author" href="{{ "/"  }}"> 
        <img src="{{site.logo | relative_url}}" alt="Logo" width="33%"/></a>
    {% endif %}
    
    <a class="site-title" rel="author" href="{{ "/" }}"> {{ site.title | escape }}</a>

  </div>
</header>
